<div class="container">
    <form action="" class="card-login">
        <div class="form-group radio">
            <input type="radio" id="recolector" name="age" value="30">
            <label for="recolector">Recolector</label><br>
            <input type="radio" id="empresa" name="age" value="30">
            <label for="empresa">Empresa</label><br>
        </div>
        <div class="form-group">
            <label for="inputEmail">Correo</label>  
            <input type="text" placeholder="Ej: juanRodriguez@gmail.com" id="inputEmail">
        </div> 
        <div class="form-group">
            <label for="inputContrasena">Contraseña</label> 
            <input type="password" placeholder="Escribe tu contraseña" id="inputContrasena">
        </div>  
        <div class="form-group">
            <label for="inputContrasena2">Confirma tu contraseña</label> 
            <input type="password" placeholder="Escribe tu contraseña" id="inputContrasena2">
        </div>     
        <div class="form-group">
            <input type="submit" value="Iniciar">
        </div>        
    </form>
</div>
