<section class="home-1">
    <p>Somos un sistema para llevar registro de los procedimientos que se llevan a cabo para la elaboración del cafe</p>
</section>
<section class="home-2">
    <h1>Registrate con el perfil que se adapte a tu necesidad</h1>
    <div class="options">
        <div class="card">
            <img src="/assets/image2.png" alt="">
            <p>Recolector en finca domestica o privada</p>
            <button>Saber más</button>
        </div>
        <div class="card">
            <img src="/assets/image3.png" alt="">
            <p>Administrador de plantas de producción</p>
            <button>Saber más</button>
        </div>
    </div>
</section>